body{
  background-image: url("../images/night.png");
  background-size: cover;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.main-design{
  background: rgba(74,112,70, 0.5);
  color: white;
  border: none;
  font-size: 40px;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
}

.registr{
  display: flex;
  margin-bottom: 130px;
}

.registr_inputs{
  display: flex;
  flex-direction: column;
}

.input-text{
  transition: padding 0.5s;
}

.input-text:focus{
  padding: 15px;
  transition: padding 0.5s;
}

.registr_button{
  transition-property: box-shadow, border-radius;
  transition-duration:  0.5s;
}

.registr_button:hover{
  box-shadow: 0 0 10px rgba(101,136,67,1);
  border-radius: 10px;
  transition-property: box-shadow, border-radius;
  transition-duration:  0.5s;
}

.quetion{
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.quetion_title{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quetion_answer-list{
  display: flex;
  justify-content: space-between;
}

.quetion_answer{
  min-width: 200px;
}

.true{
  border: 5px solid rgba(0,255,0,1);
  transition-property: border;
  transition-duration:  0.5s;
}

.error{
  border: 5px solid rgba(255,0,0,1);
  transition-property: border;
  transition-duration:  0.5s;
}

.results{
  display: flex;
  flex-direction: column;
}
