body{
  background: linear-gradient(to top right, #0DB3E3, #0D11E3);
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;

}

button::-moz-focus-inner {
  border: 0 !important;
}

.main-design{
  background: #5BBBE4;
  color: white;
  border: 3px solid white;
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.registr{
  display: flex;
  font-size: 170px;
}

.registr_inputs{
  display: flex;
  flex-direction: column;
}

.input-text{
  padding: 5px;
}

.basic-button{
  padding-bottom: 3px;
}

.registr_create-button{
  font-size: 25px;
}

.vertica-centering{
  padding: 5px;
}

.answering{
  display: flex;
  flex-direction: column;
}
